:root{
    --wh-clr:#ffffff;
    --prm-clr:#1D1D1F;
    --prm-clr-comp:#212121;
    --prm-clr-comp-shdw:#2A2A2A;
    --prm-btn-clr:#F2D300;
    --prm-bg-clr:#F2D300;
    --prm-btn-shdw-clr:#958200;
    --btn-clr:#FF00BB;
    --btn-shdw-clr:#880064;
    --id-clr:#EB1370;
    --dw-clr:#00E67B;
    --ae-clr:#E27DE2;
    --ai-clr:#FF6C0A;
    --lr-clr:#063457;
    --pr-clr:#A23FB4;
    --ps-clr:#007DDB;
    --lg-clr:#B400FF;
    --key-back:#565656;
    --key-border:#464646;
    --key-shdw:#363636;
    --keypad-border: #4b4b4b;
    --keypad-clr:#262626;
    --lock:#B8B8B8;
    --note-back:#707070;
    --icon-ps:#002F53;
    --icon-pr:#811694;
    --icon-lr: #001A2E;
}
input, button{
    outline: none;
}
a{
    font-family:ubuntu;
    text-decoration: none;
}
ul{
    list-style: none;
}
.yellow{
    color:var(--prm-bg-clr);
}
.white{
    color:#fff;
}
.t_c{
    text-align: center;
}
.f{
    display:flex;
}
.f_rv{
    flex-direction: row-reverse;
}
.f.fd-c{
    flex-direction: column;
}
.f.fd-c-reverse{
  flex-direction: column-reverse;
}
.f-end{
    align-items: flex-end;
}
.ai-fs{
    align-items: flex-start;
}
.ai-c{
    align-items: center;
}
.jc-sb{
    justify-content: space-between;
}
.jc-c{
    justify-content: center;
}
.jc-sa{
    justify-content: space-around;
}
.fw{
    flex-wrap: wrap;
}
.no-narrow{
    padding:0 !important;
}
.btn{
    padding:13px 30px;
    border-radius: 50px;
    border:0;
    background-color: transparent;
    font-family: ubuntu;
    font-weight: 500;
    /* text-shadow:3px 1px 3px rgba(0,0,0,.3); */
    letter-spacing: 2px;
    color:var(--wh-clr);
    font-size:14px;
    cursor:pointer;
}
.btn-border{
    border:2px solid var(--btn-clr);
}
.btn-primary:hover{
    transition:.3s;
    background-color: var(--btn-shdw-clr);
}
.btn-border:hover{
    border-color: var(--btn-shdw-clr);
    transition:.3s;
}
.btn-primary{
    background-color: var(--btn-clr);
}
.highlithed{
   color:var(--id-clr);
}
.key + .key{
    margin-left:15px;
}
.key{
    border:3px solid var(--key-border);
    border-radius: 11px;
    box-shadow: inset 10px 9px 34px var(--key-shdw);
    background-color: var(--key-back);
    min-height:60px;
    overflow:hidden;
    font-size:20px;
    text-align: center;;
    color:#fff;
    font-family:ubuntu;
    cursor:pointer;
}
.castle{
    position: absolute;
    right:-10px;
    top:-10px;
    display:block;
    width:25px;
    height:25px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10px;
}
.castle.unlocked{
    background-color: var(--ps-clr);
    background-image: url("../assets/icons/Icon\ ionic-ios-unlock.svg");
}
.castle.locked{
    background-color: var(--lock);
    background-image: url("../assets/icons/Icon\ ionic-ios-lock.svg");
}
.key.highlighted{
    box-shadow: 0px 0px 15px 8px var(--btn-clr);
}
.mid{
    min-width:101px;
}
.midd{
    min-width:120px;
}
.low{
    min-width:60px;
}
.large{
    min-width:160px;
}
.largelarge{
    min-width:450px;
}
.x1{
    font-size:70px;
}
.x2{
    font-size:5.8rem;
}
.xs_20{
    font-size:20px !important;
}
.xs_30{
    font-size: 30px !important;
}
.xs_50{
    font-size: 50px !important;
}
.tit{
    color:#fff;
    line-height:30px;
}
.xw_500{
    width:500px;
}
.xw_450{
    width:450px;
}
.xw_700{
    width:700px;
}
.xw_900{
    width: 900px;
}
.p_b_x3rm{
    padding-bottom:calc(10px * 10);
}
.c_ps{
    background-color: var(--ps-clr);
}
.c_pr{
    background-color: var(--pr-clr);
}
.c_lr{
    background-color: var(--lr-clr);
}
.ps{
    background-color: var(--icon-ps);
}
.pr{
    background-color: var(--icon-pr);
}
.lr{
    background-color: var(--icon-lr);
}
.t_clr_ps{
    color:var(--ps-clr);
}
*.up{
    opacity:0;
}
*.down{
    opacity:0;
}

@keyframes fadeInDownToUp {
    from{transform:translateY(-110px); opacity:0};
    to{transform:translateY(0); opacity:1};
}
@keyframes fadeInUpToDown {
    from{transform:translateY(110px); opacity:0};
    to{transform:translateY(0); opacity:1};
}