.hero{
    /* background-color: red; */
    padding:5px;
}
.section-container{
    /* border:1px solid; */
    padding: 0 140px;
}
.visualisation{
    /* border:1px solid; */
    gap:50px;
}
.visual-left > *{
    margin-bottom:59px;
}
.visual-left{
    color:var(--wh-clr);
    margin-right:1.2rem;
}
.visual-left .annotation{
    font-weight: bold;
    font-size:65px;
    position: relative;
}
.annotation i{
    position: absolute;
    right:4rem;
    top:-.8rem;
    font-size:25px;
}
.button-components{
    height:191px;
}
.button-components .big + .big{
    margin-left:25px;
}
.big{
    transition: .2s;
    cursor: pointer;
    height:166px;
    padding:25px;
    border:0;
    background-color: transparent;
    border-radius: 20px;
}
.big:active{
    box-shadow:0 0 0;
    margin-top:25px;
}
.btn-yellow{
    width:300px;
    background-color: var(--prm-btn-clr);
    box-shadow: 0 25px 0 var(--prm-btn-shdw-clr);
}
.btn-pink{
    width:168px;
    background-color: var(--btn-clr);
    box-shadow: 0 25px 0 var(--btn-shdw-clr);
}
.big .key-icon{
    display: inline-block;
    width:46px;
    height:46px;
    background-repeat: no-repeat;
}
.key-icon.command{
    background-image: url("../assets/components/icons/Icon\ feather-command.svg");
    background-size: contain;
}
.key-icon.option{
    background-image: url("../assets/components/icons/apple-keyboard-option.svg");
    background-size: contain;
}
.big .key-word{
    color:var(--wh-clr);
    font-size: 29px;
}

.visual-right{
    height: 100%;
}
.tools{
    height:100%;
    width:58px;
    background-color: var(--prm-clr-comp);
    box-shadow: 0 7px 0 var(--prm-clr-comp-shdw);
    border-radius:18px;
    overflow: hidden;
    padding:50px 0;
}
.tool-bar{
    width:100%;
    height:100%;
}
.tool{
    width:25px;
    height:25px;
    display:inline-block;
    background-repeat: no-repeat;
    background-size: contain;
}
.btn-yellow .tool{
    width:50px;
    height: 50px;
}
.tool-bar li{
    width:35px;
    height:35px;
    cursor: pointer;
    padding:.3rem;
    border-radius: 4px;;
}
.tool-bar li:hover{
    background-color: rgb(46, 46, 46);
}
.text-tool{
    background-image: url("../assets/components/Icon\ open-text.svg");
}
.paint-tool{
    background-image: url("../assets/components/Icon\ material-brush.svg");
}
.crop-tool{
    background-image: url("../assets/components/Icon\ awesome-crop-alt.svg");
}
.pos-tool{
    background-image: url("../assets/components/Icon\ feather-move.svg");
}
.pen-tool{
    background-image: url("../assets/components/Icon\ feather-pen-tool.svg");
}
.eyedropper-tool{
    background-image: url("../assets/components/Icon\ metro-eyedropper.svg");
}
.eyedropper-tool{
    background-image: url("../assets/components/Icon\ metro-eyedropper.svg");
}
.cut-tool{
    background-image: url("../assets/components/Icon\ ionic-ios-cut.svg");
}
.keyboard{
    /* border:1px solid red; */
    margin-left:90px;
}
.describe{
    /* border:1px solid; */
    color:#fff;
}
.describe h1{
    font-size:49px;
    width:500px;
    margin-bottom: 60px;
}
.describe p{
    max-width:400px;
    font-size:16px;
    line-height: 25px;;
}
.email-form p{
    margin-left:10px;
    color:var(--btn-clr);
    height:30px;
}
.form .email{
    outline: none;
    border:0;
    flex:1;
    border:0;
    font-size:15px;
    padding-left:25px;
    margin-right:15px;
    border-radius: 30px;
    /* margin-top:10px; */
}
.form .send{
    border-radius: 50%;
    width:50px;
    height:50px;
    padding:0;
}