.badges{
    /* border:1px solid; */
    /* width: 80%; */
    margin:0 auto;
}
.badge{
    gap:5rem;
    width:100%;
}
.badge.special .about{
    width:100%;
    text-align: justify;
}

/* .f_rv.badge .pic-content{
    left:8rem !important;
}
.f_vv.badge .pic-content{
    right:8rem !important;
} */
.pic-content {
    z-index: -1;
}
.about{
    position: relative;
}
.about h1{
    margin-bottom: 3rem;
}
.pic-content .app-pic{
    width:350px;
}
.badge .about img{
    filter:  blur(1px);
    position: absolute;
    bottom:-5rem;
    /* right:-8rem; */
    z-index: -1;
    opacity: .4;;
}
.badge .about .x1{
    margin-bottom:3rem;
}
