@import url("config.css");
@import url("hero.css");
@import url("try.css");
@import url("how.css");
@import url("advantages.css");
@import url("support.css");
@import url("about.css");
html{
    scroll-behavior: smooth;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:ubuntu;
}
body{
    background-color:var(--prm-clr);
}
.wrapper > *{
    padding:0 140px;
}
header{
    margin-top:70px;
}
section{
    margin-top:150px;   
}
.top-bar{
    position: relative;
}
.ln{
    position: absolute;
    bottom:-7px;
    left: 20px;
    display:inline-block;
    width:10px;
    height:3px;
    border-radius:4px;
    background-color: var(--id-clr);
}
.top-menu li + li{
    margin-left:50px;
}
.menu{
    list-style-type: none;
}
.menu .link{
    font-size:16px;
    color:var(--wh-clr);
}
.get-started .btn + .btn{
    margin-left:40px;
}
