/* .try-wrap{
    box-shadow:0px 90px 1px  rgba(242,211,0,0.8);
} */
.try{
    background-color: var(--prm-bg-clr);
    padding:146px 0!important;
}
.try-section{
    width:60%;
}
.editor-title{
    text-align: center;
    width:600px;
}
.editor-title .title{
    font-size:42px;
    margin-bottom: 22px;
}
.editor-title p{
    padding:0 20px;
    font-size: 18px;;
}
.terminal{
    background-color:var(--prm-clr);
    padding:25px 35px;
    min-width:795px;
}

.console .user{
    color:var(--wh-clr);
    font-size:18px;
}
.user i + i{
    margin-left:5px;
}
.commands{
    height:40px;
    flex:1;
    padding-left:15px;
}
.command-line{
    height:100%;
    font-size: 18px;
    width: 100%;
    background-color: transparent;
    border:0;
    color:var(--wh-clr);
}
/* keyboard */
.keypad{
    border:10px solid var(--keypad-border);
    background-color:var(--keypad-clr);
    box-shadow: 0 2px 8px var(--prm-clr-comp-shdw);
    padding:1.5rem 1rem;
    min-width: 0px;
    max-height:350px;
    height:342px;
    border-radius: 19px;
}
.tool-shortcut{
    font-size:3rem;
    width:100%;
    color:#fff;
    display: flex;
    justify-content: flex-end;
}
.key-row{
    justify-content: flex-start;
    width: 100%;
}
.key-row:nth-child(1) > .key:last-child, .key-row:nth-child(2) > .key:last-child, .key-row:nth-child(3) > .key:last-child{
    flex:1;
}
.key-row + .key-row{
    margin-top:15px;
}
.top-left-to-right-bottom{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 83%);
}
.how-it{
    width: 500px;
    margin-top:25px;
}
.how-it h1{
    margin-bottom: 1.5rem;
    letter-spacing: .4rem;
}
.how-it p{
    text-align: justify;
    font-size: 1.5rem;
    font-weight: 300;
}
.co-f{
    margin-bottom:3rem;
}